<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Currency switcher
 *
 * @see \Magento\Directory\Block\Currency
 */
?>
<?php if ($block->getCurrencyCount() > 0): ?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<div class="switcher currency switcher-currency" id="switcher-currency<?php /* @escapeNotVerified */ echo $id?>">
    <strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Currency') ?></span></strong>
   
       
    <ul class="switcher-options">
        <?php foreach ($currencies as $_code => $_name): ?>
            <?php if ($_code == $currentCurrencyCode): ?>
                <li class="active currency-<?php /* @escapeNotVerified */ echo $_code ?> switcher-option">
                    <strong class="language-<?php echo $block->escapeHtml($block->getCurrentCurrencyCode()) ?>" title="<?php /* @escapeNotVerified */ echo $_name ?>">
                        <span><?php echo $block->escapeHtml($currentCurrencyCode) ?> </span>
                    </strong>
                </li>
            <?php endif; ?>
            <?php if ($_code != $currentCurrencyCode): ?>
                <li class="currency-<?php /* @escapeNotVerified */ echo $_code ?> switcher-option">
                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getSwitchCurrencyPostData($_code); ?>' title="<?php /* @escapeNotVerified */ echo $_name ?>"><?php /* @escapeNotVerified */ echo $_code ?> </a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
    
</div>
<?php endif; ?>
