<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>


<div class="customer-welcome" id="switcher-user">
   
    <div class="actions dropdown options switcher-options">
        <div class="customer-name" id="switcher-user-trigger">
        </div>
        <?php if($block->getChildHtml()):?>
        <div class="dropdown switcher-dropdown customer-menu" data-mage-init='{"dropdownDialog":{
            "appendTo":"#switcher-user > .options",
            "triggerTarget":"#switcher-user-trigger",
            "closeOnMouseLeave": false,
            "triggerClass":"active",
            "parentClass":"active",
            "buttons":null}}'>
             <?php echo $block->getChildHtml();?>
        </div>
         <?php endif; ?>
    </div>
</div>