// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */



//
//  Theme variables
//  _____________________________________________

//
//  Messages
//  ---------------------------------------------

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    
}

//
//  Navigation
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    
}
