// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        &:extend(.abs-no-display-desktop all);
        &:extend(.abs-add-clearfix all);
        .lib-css(background, @checkout-step-content-mobile__background);
        .lib-css(border-bottom, @checkout-step-title__border);
        .lib-css(border-top, @checkout-step-title__border);
        .lib-css(margin, 0 -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s);
        padding: 18px 15px;
        border-top: none;
        .estimated-block {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            float: left;
            font-weight: @font-weight__bold;

            .estimated-label {
                display: block;
                margin: 0 0 @indent__xs;
            }
        }

        .minicart-wrapper {
            button {
                // todo ui: Change .action.showcart to .action-showcart
                &.action.showcart {
                    .lib-button-reset();
                    &:before {
                        .lib-css(color, @primary__color);
                    }
                }
            }
        }
    }
    .checkout-index-index {
        .page-header {
            padding: 10px 0;
        }
        .logo {

        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-estimated-wrapper {
        display: none;
    }
}
