// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------


//
& when (@media-common = true) {

//
//    Using buttons mixins
//--------------------------------------
button,
a.action.primary {
    .lib-css(border-radius, @button__border-radius);
}

button {
    &:not(.primary) {
        .lib-css(box-shadow, @button__shadow);
        &:active {
            .lib-css(box-shadow, @button__shadow-active);
        }
    }
}

body {
    &:not(._keyfocus) {
        button {
            &:focus {
                box-shadow: none;
            }
        }
    }
}

a.action.primary {
    .lib-link-as-button();
    font-family: @font-family__base2
}

.action.primary {
    .lib-button-primary(
    );
    font-family: @font-family__base2
}
    

}
.button-inline {
    background-color: #fff;
    border: 2px solid @color-font-base;
    color:  @color-font-base;
    &:hover,
    &:focus {
        background-color: @color-theme;
        border-color: @color-theme;
        color: #fff;
    }
}