// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Extend fallback
//  _____________________________________________

//  Magento extend fallback handling. Should be EMPTY.


//
//  Slide Home
//  _____________________________________________

& when (@media-common = true) {
	.block-slide {
		position: relative;
		img {
			display: block;
			width: 100%;
		}
		.owl-nav {
			.owl-prev,
			.owl-next {
				display: block;
				width: 40px;
				line-height: 40px;
				height: 40px;
				text-align: center;
				background-color: #fff;
				color: #3c3c3c;
				position: absolute;
				top: 50%;
				margin-top: -20px;
				&:hover,
				&:focus {
					background-color: #fdc456;
					color: #fff;
				}
				&:before {
					content: "";
					font-family: "FontAwesome";
				}
			}
			.owl-prev {
				left: 50px;
				&:before {
					content: "\f060";
				}
			}
			.owl-next {
				right: 50px;
				&:before {
					content: "\f061";
				}
			}
		}
		.owl-pagination {
			.owl-page {

			}
		}
		.owl-pagination {
			text-align: center;
			padding-top: 20px;
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			display: none;
			.owl-page {
				width: 37px;
				height: 3px;
				background-color: #ebebeb;
				display: inline-block;
				vertical-align: top;
				margin: 0 9px 9px;
				&.active {
					background-color: @color-theme;
				}
			}
		}
		&.slide-style2 {
			.owl-nav {
				display: none;
			}
			.owl-pagination {
				display: block;
			}

		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block-slide {
		.owl-nav {
			.owl-prev,
			.owl-next {
				width: 26px;
				line-height: 26px;
				height: 26px;
				top: 50%;
				margin-top: -13px;
				
			}
			.owl-prev {
				left: 10px;
			}
			.owl-next {
				right: 10px;
			}
		}
		
	}
}

//
//  Banner Home
//  _____________________________________________

& when (@media-common = true) {
	.block-banner-style1 {
		margin-bottom: 20px;
		.clearfix();
		.item {
			display: block;
			width: 100%/3;
			float: left;
			position: relative;
			cursor: pointer;
			img {
				display: block;
				width: 100%;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.15);
				visibility: hidden;
				opacity: 0;
				.transition(0.3s);
			}
			&:hover {
				&:before {
					visibility: visible;
					opacity: 1;
					.transition(0.3s);
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .block-banner-style1 {
		.item {
			width: 100%;
			
			
		}
	}
}


//
//  Block-Colums-Text:  Free Shipping/Money Back/Support 24/7
//  _____________________________________________


& when (@media-common = true) {
	.block-colums-text {
		padding: 40px 0 20px;
		.row {
			.clearfix();
		}
		.col {
			padding: 0 15px;
			width: 33.33%;
			float: left;
			color: #9a9a9a;
			font-size: 16px;
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			.title {
				display: block;
				font-size: 20px;
				font-weight: 600;
				
				text-transform: uppercase;
			}
			.icon {
				font-size: 48px;
				width: 100px;
				color: #e1e1e1;
				position: absolute;
				top: 10px;
				left: 50%;
				margin-left: -50px;
				line-height: 60px;
				z-index: -1;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.block-colums-text {
		padding: 40px 0;
		.col {
			width: 100%;
			float: none;
		}
	}
}

//
//  Tabs Products
//  _____________________________________________

& when (@media-common = true) { 
	.tab-new-category {
		padding: 40px 15px;
		overflow: hidden;

		.block-title {
			display: block;
			font-size: 30px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 12px;
			position: relative;
			margin-bottom: 20px;
			&:before {
				content: "";
				width: 100px;
				height: 3px;
				background-color: @color-theme;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -50px;
			}
		}

		.product-data-items {

		}

		.nav-tabs {
			text-align: center;
			margin-bottom: 25px;
			.tab-title {
				display: inline-block;
				vertical-align: top;

				> a {
					display: block;
					font-size: 15px;
					color: #9a9a9a;
					font-weight: bold;
					padding: 0 19px;
					text-transform: uppercase;
					&:hover {
						color: @color-theme;
					}
				}
				&.active {
					a {
						color: @color-theme;
					}
				}
			}
		}

		.product-items {
			position: relative;
		}

		.owl-nav {
			.owl-prev,
			.owl-next {
				display: block;
				width: 40px;
				line-height: 40px;
				height: 40px;
				text-align: center;
				background-color: #fff;
				border: 2px solid #3c3c3c;
				color: #3c3c3c;
				position: absolute;
				top: 170px;
				&:hover,
				&:focus {
					background-color: @color-theme;
					border-color: @color-theme;
					color: #fff;
				}
				&:before {
					content: "";
					font-family: "FontAwesome";
				}
			}
			.owl-prev {
				left: -73px;
				&:before {
					content: "\f060";
				}
			}
			.owl-next {
				right: -73px;
				&:before {
					content: "\f061";
				}
			}
		}
		.owl-pagination{
			text-align: center;
			margin-top: 15px;
			.owl-page{
				width: 37px;
				height: 3px;
				background-color: #ebebeb;
				display: inline-block;
				vertical-align: top;
				margin: 0 9px 9px;
				&.active{
					background-color: #fdc456;
				}
			}
		}

	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.tab-new-category { 
		padding: 15px 0;
		.block-title {
			font-size: 20px;
		}
		.nav-tabs {
			.tab-title {
				display: inline-block;
				text-align: left;
				line-height: 30px;
				&.active{
					border: 1px solid #fdc456;
				}
			}
		}
		.product-items{
			max-width: 100%;
			margin: auto;
		}
		.owl-nav{
			text-align: right;
			.owl-prev,
			.owl-next{
				position: relative;
				top: 0;
				right: 15px !important;
				left: auto !important;
				display: inline-block;
				line-height: 36px;
				-webkit-transform: scale(0.8);
				transform: scale(0.8);
			}
		}
		.owl-pagination{
			display: none;
		}
	}
 }


//
//  Banner-Sale
//  _____________________________________________

& when (@media-common = true){
	.banner-sale {
		min-height: 640px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		font-size: 16px;
		color: #fff;
		text-align: center;
		padding-top: 260px;
		padding-bottom: 65px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(56, 56, 56, 0.2);
		}
		.title {
			font-size: 100px;
			font-weight: bold;
			display: block;
			text-align: center;
			color: @color-theme;
		}
		.container {
			max-width: 700px;
			position: relative;
			z-index: 10;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.banner-sale {
		min-height: 400px;
		padding-top: 20px;
		display: table;
		width: 100%;
		.container {
			display: table-cell;
			vertical-align: middle;
		}
		.title {
			font-size: 40px;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.banner-sale {
		.container {
			.title {
				font-size: 30px;
			}
		}
		
	}
}

//
//  Block-Client-Say
//  _____________________________________________

& when (@media-common = true){
	.block-client-say {
		background-color: #f6f6f6;
		
		.container {
			background-position: center right;
			background-size:  auto 100%;
			background-repeat: no-repeat;
			padding: 60px 15px;
		}
		.block-title {
			width: 60%;
			text-align: center;
			display: block;
			font-size: 30px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 12px;
			position: relative;
			margin-bottom: 0px;
			&:before {
				content: "";
				width: 100px;
				height: 3px;
				background-color: @color-theme;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -50px;
			}
		}
		.block-content {
			width: 60%;
			text-align: center;
		}
		.item {
			font-size: 16px;
			position: relative;
			padding-top: 50px;
			top: -20px;
			&:before {
				content: "\f10d";
				font-family: "FontAwesome";
				font-size: 76px;
				color: @color-theme;
				position: absolute;
				opacity: 0.5;
				top: 0px;
				left: 125px;
			}
			.name {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.block-client-say {
		.block-title {
			font-size: 20px;
			width: 80%;
			margin: auto;
		}
		.block-content {
			width: 100%;
			margin: auto;
		}
		.container {
			background-size:  auto 50%;
			background-position: right bottom;
			padding: 30px 15px;
		}
		.item {
			&:before {
				left: 10px;
			}
		}
	}
}

//
//  Block-Product
//  _____________________________________________

& when (@media-common = true){
	.block-products {
		padding-top: 30px;
		padding-bottom: 30px;
		.block-title{
			display: block;
			text-align: center;
			margin-bottom: 20px;
			 strong {
                display: block;
                font-size: 30px;
                font-weight: 700;
                border: none;
                padding: 0 0 10px;
                margin-bottom: 20px;
                text-transform: uppercase;
                position: relative;
                &:before {
                    content: "";
                    width: 80px;
                    height: 3px;
                    background-color: @color-theme;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -40px;
                }
            }
		}
		.owl-pagination {
			text-align: center;
			padding-top: 20px;
			.owl-page {
				width: 37px;
				height: 3px;
				background-color: #ebebeb;
				display: inline-block;
				vertical-align: top;
				margin: 0 9px 9px;
				&.active {
					background-color: @color-theme;
				}
			}
		}
	}
}

//
//  Blog
//  _____________________________________________
& when (@media-common = true) {
	.block-blog  {
		padding: 80px 0;
		.block-title {
			display: block;
			font-size: 30px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 12px;
			position: relative;
			margin-bottom: 40px;
			&:before {
				content: "";
				width: 100px;
				height: 3px;
				background-color: @color-theme;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -50px;
			}
		}
		.list-blog {
			.clearfix();
			margin: 0 -15px;
		}
		.post-holder {
			width: 100%;
			float: left;
			padding: 0 15px;
			.post-item {
				
				.clearfix();
				margin-bottom: 30px;
			}
			
			.post-thumb {
				
				img {
					display: block;
					width: 100%;
				}
				
			}
			.post-deatil {
				
			}
			.post-info {
				margin-bottom: 15px;
				.post-posed-date,
				.post-athur {
					display: inline-block;
					font-size: 12px;
					vertical-align: top;
					.label {
						display: none;
					}
				}
				.post-categories {
					display: none;
				}
				.post-athur {
					&:before {
						content: "\e060";
						font-family: 'Simple-Line-Icons';
						color: @color-theme;
						margin-right: 5px;
					}
				}
				.post-posed-date {
					margin-right: 24px;
					&:before {
						content: "\e081";
						font-family: 'Simple-Line-Icons';
						color: @color-theme;
						margin-right: 5px;
					}
				}
			}
			.post-title-holder {
				font-size: 22px;
				font-weight: bold;
				text-transform: uppercase;
				color: #3c3c3c;
				margin: 10px 0 12px;
				.post-title {
					margin: 0;
				}
				a {
					color: #3c3c3c;
					&:hover {
						color: @color-theme;
					}
				}
			}
			.post-content {
				margin-bottom: 25px;
			}
			.post-read-more {
				line-height: 36px;
				border: 2px solid #3c3c3c;
				padding: 0 25px;
				text-transform: uppercase;
				font-size: 14px;
				display: inline-block;
				color: #3c3c3c;
				&:hover {
					color: @color-theme;
					border-color: @color-theme;
				}
			}
		}
	}
	
	.block-blog-style1 {
		.block-blog {
			.post-holder {
				width: 100%;
				.post-item {
					
					
				}
				.post-thumb {
					width: 50%;
					float: right;
					padding-left: 15px;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 50%;
						margin-top: -10px;
						
						left: 15px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 0 10px 10px;
						border-color: transparent transparent transparent #fff;
					}
					
				}
				.post-deatil {
					width: 50%;
					float: left;
					padding-right: 15px;
					text-align: right;
				}
				&:nth-child(2n) {
					.post-thumb {
						float: left;
						padding-right: 15px;
						padding-left: 0;
						&:before {
							right: 15px;
							left: auto;
							border-width: 10px 10px 10px 0;
							border-color: transparent #fff transparent transparent;
						}
					}
					.post-deatil {
						padding-left: 15px;
						padding-right: 0;
						text-align: left;
						float: right;
					}
				}
				&:nth-child(2n+1) {
					clear: both;
					
				}

			}
		}
	}
	.block-blog-style2 {
		background-color: #f0f0f0;
		.block-blog  {
			.post-holder {
				width: 100%;
				float: none;
				padding: 0 15px;
				.post-item {
					background-color: #fff;
				}
				.post-thumb {
					width: 50%;
					float: left;
					margin-bottom: 0;
				}
				.post-deatil {
					width: 50%;
					float: right;
					padding-left: 30px;
					padding-top: 15px;
					padding-right: 15px;
					padding-bottom: 15px;
					position: relative;
					text-align: left;
					margin-bottom: 10px;
				}
			}
		}

		.owl-pagination {
			text-align: center;
			padding-top: 20px;
			display: none;
			.owl-page {
				width: 37px;
				height: 3px;
				background-color: #fff;
				display: inline-block;
				vertical-align: top;
				margin: 0 9px 9px;
				&.active {
					background-color: @color-theme;
				}
			}
		}
	}

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.block-blog-style1 .block-blog  {
		.post-holder {
			width: 50%;
			float: left;
			padding: 0 15px;
			
		}
	}


}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

	.block-blog-style2 {
		
		.block-blog  {
			.post-holder {
				
				.post-thumb {
					width: 40%;
				}
				.post-deatil {
					width: 60%;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	
	.block-blog-style1 .block-blog  {
		
		.post-holder {
			width: 100%;
			float: left;
			padding: 0 15px;
			
		}
		.post-holder {
			.post-thumb,
			.post-deatil {
				width: 100%;
				padding: 0 !important;
				text-align: left!important;
			}
			.post-thumb {
				&:before {
					content: none;
				}
			}
		}
	}

	.block-blog-style2 {
		
		.block-blog  {
			.post-holder {
				.post-title {
					font-size: 20px;
				}
				.post-thumb,
				.post-deatil {
					width: 100% !important;
					padding: 0;
					float: none;
					margin-bottom: 10px;
				}
				.post-deatil {
					padding: 0 10px;
				}
			}
		}
	}
}

//
//  Page About
//  _____________________________________________

//block-out-story
& when (@media-common = true) {
	.block-out-story {
		margin-bottom: 20px;
		.clearfix();
		.col-left,
		.col-right {
			float: left;
			width: 100%;
		}
		.col-left {
			margin-bottom: 20px;
			img {
				display: block;
				width: 100%;
			}
		}
		.col-right {
			font-size: 16px;
			color: #3c3c3c;
			font-family: 'Source Sans Pro';
			.title {
				display: block;
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
				font-family: @font-family__base;
				margin-bottom: 15px;
				position: relative;
				padding-bottom: 10px;
				&:before {
					content: "";
					width: 100px;
					height: 3px;
					background-color: @color-theme;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		
	}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.block-out-story {
		margin-bottom: 70px;
		.clearfix();
		.col-left,
		.col-right {
			float: left;
			width: 50%;
			padding-left: 15px;
		}
		.col-left {
			padding-left: 0;
			padding-right: 15px;
			img {
				display: block;
				width: 100%;
			}
		}
		.col-right {
			font-size: 16px;
			color: #3c3c3c;
			font-family: 'Source Sans Pro';
			.title {
				display: block;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				font-family: @font-family__base;
				margin-bottom: 15px;
				position: relative;
				padding-bottom: 10px;
				&:before {
					content: "";
					width: 100px;
					height: 3px;
					background-color: @color-theme;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		
	}
}


//block-team

& when (@media-common = true) {
	.block-team {
		margin-bottom: 20px;
		.block-title {
			font-size: 16px;
			color: #999999;
			text-align: center;
			.title {
				display: block;
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
				font-family: @font-family__base;
				margin-bottom: 15px;
				position: relative;
				padding-bottom: 10px;
				color: #3c3c3c;
				&:before {
					content: "";
					width: 100px;
					height: 3px;
					background-color: @color-theme;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -50px;
				}
			}
		}
		.block-content {
			margin: 0 -15px;
			.clearfix();
		}
		.item {
			margin-bottom: 20px;
			padding: 0 15px;
			width: 25%;
			float: left;
			text-align: center;
			margin-bottom: 30px;
			&:hover {
				.link-social {
					visibility: visible;
					opacity: 1;
					.transition(0.3s);
				}
			}
		}
		.item-photo {
			display: block;
			position: relative;
			margin-bottom: 12px;
			img {
				display: block;
				width: 100%;
			}
		}
		.link-social {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(60, 60, 60, 0.5);
			text-align: center;
			visibility: hidden;
			opacity: 0;
			.transition(0.3s);
			.des {
				display: table;
				width: 100%;
				height: 100%;
			}
			.des1 {
				display: table-cell;
				vertical-align: middle;
			}
			a {
				font-size: 20px;
				color: #fff;
				margin: 5px;
				&:hover {
					color: @color-theme;
				}
			}
		}
		.name {
			display: block;
			font-size: 16px;
			font-family: 'Source Sans Pro';
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.info {
			color: #999999;
			font-size: 14px;
			font-family: 'Source Sans Pro';
			display: block;

		}
		
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.block-team {
		.item {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.block-team{
		margin-bottom: 20px;
		.block-title {
			
			.title {
				font-size: 30px;
			}
		}
	}
}

//
//  Block-Colums-Text - Contact:  
//  _____________________________________________


& when (@media-common = true) {
	.block-colums-contact {
		padding: 40px 0 20px;
		.row {
			.clearfix();
		}
		.col {
			padding: 0 15px;
			width: 25%;
			float: left;
			color: #9a9a9a;
			font-size: 16px;
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			.title {
				display: block;
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			.icon {
				font-size: 48px;
				width: 100px;
				color: #e1e1e1;
				position: absolute;
				top: 10px;
				left: 50%;
				margin-left: -50px;
				line-height: 60px;
				z-index: -1;
			}
		}
	}
	.form.contact {
		margin-bottom: 40px;
		.field {
			margin-bottom: 20px;
			label.label {
				font-weight: bold;
				font-size: 16px;
				text-transform: uppercase;
				margin-bottom: 8px;
				display: inline-block;
			}
			input.input-text {
				height: 40px;
			}
		}
		fieldset legend.legend {
			font-size: 23px;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			border-bottom: none;
		}
		.field.note {
			display: block;
			text-align: center;
			color: #9a9a9a;
		}
		.actions-toolbar {
			text-align: center;
			.primary {
				float: none;
				display: block;
			}
			.action  {
				height: 40px;
				border: 2px solid #3c3c3c;
				color: #3c3c3c;
				background-color: transparent;
				padding: 0 22px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				font-family: 'Source Sans Pro';
				margin: 0;
				display: inline-block;
				&:hover,
				&:focus {
					border-color: @color-theme;
					color: @color-theme;
					background-color: transparent;
				}
			}
		}
	}

	.iframe-responsive {
		height: 0;
		padding-top: 0;
		padding-bottom: 30%;
		position: relative;
		overflow: hidden;
		embed,
		iframe,
		iframe,
		video{
			top: 0;
		  	left: 0;
			width: 100%;
		  	height: 100%;
		  	position: absolute;
		  	border: none;
		}
	}

	.cms-noroute-index {
		.page-main.container {
			width: 100%;
			padding: 0;
			max-width: 100%;
		}
	}
	.page-er {
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		.des {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.5);
			text-align: center;
			overflow: hidden;
			color: #fff;
		}
		.des1 {
			display: table;
			width: 100%;
			height: 100%;
		}
		.des2 {
			display: table-cell;
			vertical-align: middle;
		}
		.title {
			font-size: 200px;
			font-weight: bold;
			color: @color-theme;
			display: block;
			line-height: 1;
			text-transform: uppercase;
		}
		.ero {
			color: #fff;
			font-size: 100px;
			line-height: 1;
			display: block;
			text-transform: uppercase;
		}
		.btn-back {
			background-color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			font-family: 'Source Sans Pro';
			display: inline-block;
			line-height: 38px;
			padding: 0 20px;
			margin-top: 30px;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-er {
		.title {
			font-size: 40px;
			font-weight: bold;
			color: @color-theme;
			display: block;
			line-height: 1;
			text-transform: uppercase;
		}
		.ero {
			color: #fff;
			font-size: 20px;
			line-height: 1;
			display: block;
			text-transform: uppercase;
		}
		.btn-back {
			background-color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			font-family: 'Source Sans Pro';
			display: inline-block;
			line-height: 38px;
			padding: 0 20px;
			margin-top: 30px;
		}
	}

	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.block-colums-contact {
		padding: 40px 0;
		.col {
			width: 100%;
			float: none;
		}
	}
	.page-er {
		.title {
			font-size: 16px !important;
			font-weight: bold;
			color: @color-theme;
			display: block;
			line-height: 1.1;
			text-transform: uppercase;
		}
		.ero {
			color: #fff;
			font-size: 14px !important;
			line-height: 1.1;
			display: block;
			text-transform: uppercase;
		}
		.btn-back {
			background-color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			font-family: 'Source Sans Pro';
			display: inline-block;
			line-height: 25px !important;
			padding: 0 20px;
			margin-top: 5px !important;
		}
	}

}

//
//  Page Blog
//  _____________________________________________
& when (@media-common = true) {
	.post-list,
	.post-view {
		.clearfix();
				
		.post-holder {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 30px;
			float: left;
			.post-item {
				
				
			}
			
			&:nth-child(2n+1) {
				clear: both;
			}
			.post-thumb {
				margin-bottom: 15px;
				position: relative;
				img {
					display: block;
					width: 100%;
				}
				
			}
			.post-deatil {
				text-align: center;
			}
			.post-info {
				margin-bottom: 15px;
				.post-posed-date,
				.post-athur {
					display: inline-block;
					font-size: 14px;
					vertical-align: top;
					.label {
						display: none;
					}
				}
				.post-categories {
					display: none;
				}
				.post-athur {
					&:before {
						content: "\e060";
						font-family: 'Simple-Line-Icons';
						color: @color-theme;
						margin-right: 5px;
					}
				}
				.post-posed-date {
					margin-right: 24px;
					&:before {
						content: "\e081";
						font-family: 'Simple-Line-Icons';
						color: @color-theme;
						margin-right: 5px;
					}
				}
			}
			.post-title-holder {
				font-size: 22px;
				font-weight: bold;
				text-transform: uppercase;
				color: #3c3c3c;
				margin: 10px 0 12px;
				.post-title {
					margin: 0;
				}
				a {
					color: #3c3c3c;
					&:hover {
						color: @color-theme;
					}
				}
			}
			.post-content {
				margin-bottom: 25px;
			}
			.post-read-more {
				line-height: 36px;
				border: 2px solid #3c3c3c;
				padding: 0 25px;
				text-transform: uppercase;
				font-size: 14px;
				display: inline-block;
				color: #3c3c3c;
				&:hover {
					color: @color-theme;
					border-color: @color-theme;
				}
			}
		}
	}

	.post-view {
		.post-holder {
			width: 100%;
		}
		.post-more {
			padding: 15px 0 5px;
			border-top: 1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
			margin: 15px 0;
			.clearfix();
			.post-tag {
				float: left;
				margin-bottom: 10px;
				width: 50%;
				.tags-title {
					display: inline-block;
					font-weight: bold;
					text-transform: uppercase;
				}
				.blog-tags {
					display: inline-block;
				}
			}
			.addthis_toolbox {
				float: right;
				margin-bottom: 10px;
			}
		}
	}
	.block-categories,
	.block-recent-posts,
	.block-tags-posts {
		.block-title {
			margin-bottom: 0;
			h3 {
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
				display: block;
				padding-bottom: 5px;
				position: relative;
				margin-top: 0;
				margin-bottom: 7px;
				&:before {
					content: "";
					width: 60px;
					height: 2px;
					background-color: @color-theme;
					position: absolute;
					bottom: 0;
					left: 0;
				} 
			}
		}
	}
	.block-categories {
		li {
			text-transform: capitalize;
			font-size: 15px;
		}
	}
	.block-categories li ,
	.block-recent-posts .item {
		display: block;
		padding: 6px 0;
	}

	.block-tags-posts {
		.tag-sidebar {
			display: inline-block;
			background-color: #ebebeb;
			line-height: 30px;
			white-space: nowrap;
			font-size: 14px;
			color: #3c3c3c;
			padding: 0 12px;
			margin-top: 8px;
			margin-right: 6px;
			text-transform: capitalize;
			&:hover {
				background-color: @color-theme;
				color: #fff;
			}
		}
	}

	.blog-post-view,
	.blog-category-view,
	.blog-index-index {
		.page-title-wrapper {
			display: none;
		}
		.page-main {
			padding-top: 30px;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.post-list  {
		.post-holder {
			width: 100% !important;
		}
	}
	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m)  {
	.post-view {
		
		.post-more {
			.clearfix();
			.post-tag ,
			.addthis_toolbox {
				
				width: 100%;
				float: none;
				
			}
			
		}
	}
}