// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.lib-font-face(
    @family-name: @icons__font-name,
    @font-path: @icons__font-path,
    @font-weight: normal,
    @font-style: normal
);

@font-icon-name: "Simple-Line-Icons";
.clearix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.icon-font(@font-icon-content) {
    font-family: @font-icon-name;
    content: @font-icon-content;
    font-weight: 400;
}
@icons-cart:"\e04f";
@icons-user:"\e005";
@icons-search:"\e090";
@icons-bar:"\e090";
@icons-wishlist:"\e08a";
@icons-compare:"\e099";
@icons-quickview:"\e087";
@icons-newletter:"\e094";
@icons-filter:"\e06c";
@icons-list:"\e067";
@icons-grid:"\e06a";
@icons-star:"\e09b";
@icons-remove-cart: "\e054";
@icons-edit-cart: "\e05f";
@icons-subscribe: "\e094";
@icons-check: "\e080";