// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@layout-column-main__sidebar-offset: 2%;
@layout-column__additional-sidebar-offset: @layout-column-main__sidebar-offset;

//
//    Common
//--------------------------------------

& when (@media-common = true) {
    html,
    body {
        height: 100%;
    }
    .columns {
        .clearfix();
        margin: 0 -15px;  
        .column.main,
        .sidebar-main,
        .sidebar-additional {
            float: none;
            position: relative;
            padding: 0 15px;
            .page-layout-1column & {
                width: 100%;
            }
        }
          
    }
    .page-main {
        &.container {
            .cms-index-index.page-layout-1column &,
            .cms-page-view.page-layout-1column &,
            body[class^="cms-home"].page-layout-1column &{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                max-width: 100%;
            }
        }
        .cms-index-index &,
        body[class^="cms-home"] & {
           

        }
    }
    .cms-index-index ,
    body[class^="cms-home"]  {
        .breadcrumbs {
            margin-bottom: 0;
        }
        .page-title-wrapper {
            display: none;
        }

    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 1200px;
        box-sizing: border-box;
    }
    .row {
        margin: 0 -15px;
        .clearfix();
    }
    .col-md-1, 
    .col-md-2, 
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9, 
    .col-md-10, 
    .col-md-11, 
    .col-md-12 {
        padding: 0 15px;
    }
    
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .page-main {
        .account &,
        .cms-privacy-policy & {
            position: relative;
            padding-top: 56px;
        }
    }
    .column.main,
    .sidebar-main,
    .sidebar-additional {
        width: 100% !important;
        .page-layout-1column & {
            width: 100%;
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .col-md-1, 
    .col-md-2, 
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9, 
    .col-md-10, 
    .col-md-11, 
    .col-md-12 {
        float: left;
        padding: 0 15px;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .container {
       
    }
    .page-main {
        width: 100%;
        
        .ie9 & {
            width: auto;
        }
        &.container {
            .cms-index-index.page-layout-1column & {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                max-width: 100%;
            }
        }
    }

    .columns {
        display: block;
    }

    .columns {
        .clearfix();
        margin: 0 -15px;  
        .column.main,
        .sidebar-main,
        .sidebar-additional {
            float: left;
            position: relative;
            padding: 0 15px;
            .page-layout-1column & {
                width: 100%;
            }
        }
        .column.main {
            .page-layout-2columns-left &,
            .page-layout-2columns-right & {
                width: 75%;
                left: 25%;
            } 
            .page-layout-2columns-right & {
                left: 0;
            }           
            .page-layout-3columns & {
                width: 50%;
                left: 25%;
            }
        }
        .sidebar-main,
        .sidebar-additional {
            .page-layout-2columns-left &,
            .page-layout-2columns-right &,
            .page-layout-3columns & {
                width: 25%;
            }            
        }
        .sidebar-main,
        .sidebar-additional {
            .page-layout-2columns-left & {
                right: 75%;
            }
        }
        .sidebar-main {
            .page-layout-3columns & {
                right: 50%;
            }
        }        
    }
}
