// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//variable
///

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .pages-label {
            display: none;
        }
        .items {
            display: block;
            text-align: left;
        }
        .item {
            vertical-align: top;
            display: inline-block;
            padding: 0 5px;
            margin-right: 2px;
            &:last-child{
                margin-right: 0;
            }
            &.current {
                .page {
                    color: @color-theme;
                }
            }
        }
        .page ,
        .action{
            line-height: 36px;
            font-weight: 400;
            font-size: 16px;
            display: block;
            color: @color-font-base;
            .label {
                display: none;
            }
            &:hover,
            &:focus {
                color: @color-theme;
            }
        }
        .action {
            text-transform: uppercase;
            &.previous {
                &:before {
                    font-family: "FontAwesome";
                    content: "\f104"
                }
            }
            &.next {
                &:after {
                    font-family: "FontAwesome";
                    content: "\f105"
                }
            }
        }        
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
           
        }
        
    }
}
