// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        border-bottom: @tab-control__border-width solid @tab-control__border-color;
        margin-bottom: @indent__base;
        margin-left: -@layout__width-xs-indent;
        margin-right: -@layout__width-xs-indent;
        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: @font-size__base,
                    @_icon-font-line-height: @icon-font__line-height,
                    @_icon-font-color: @icon-font__color,
                    @_icon-font-color-hover: @icon-font__color-hover,
                    @_icon-font-color-active: @icon-font__color-active,
                    @_icon-font-margin: @icon-font__margin,
                    @_icon-font-vertical-align: @icon-font__vertical-align,
                    @_icon-font-position: after,
                    @_icon-font-display: false
                );
                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top: @accordion-control__padding-top;
                }
            }
            &.active a:after {
                content: @icon-up;
            }
        }
        .value p:last-child {
            margin-bottom: 0;
        }
        .table-wrapper {
            margin: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.info.detailed {
        background-color: #fff;
        padding: 80px 0;
        background-position: center;
        background-size: cover;
        background-image: url(../images/theme/bg-tab.jpg);
        position: relative;
        margin-top: 60px;
        clear: both;
        margin-bottom: 80px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(235, 235, 235, 0.6);
            z-index: 2;
        }
    }
    .product.data.items {
        margin: auto;
        display: block;
        border-bottom: 0;
        max-width: 1170px;
        background-color: #fff;
        padding: 38px 100px 15px;
        position: relative;
        z-index: 10;
        text-align: center;
        .clearfix();
        .item.title a:after {
            display: none;
        }
        > .item.title {
            float: none;
            width: auto;
            border: none;
            display: inline-block;
            &:before {
                content: "";
                width: 42px;
                height: 3px;
                background-color: @color-theme;
                display: inline-block;
            }
            &:first-child {
                &:before {
                    content: none;
                }
            }
            > .switch {
                padding: 0 13px;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: @color-font-base;
                border: none;
                display: inline-block;
                vertical-align: middle;
                .counter {
                    color: @color-font-base;
                }
            }
            &.active {
                > .switch {
                    color: @color-theme;
                    .counter {
                        color: @color-theme;
                    }
                } 
            }
        }
        > .item.content {
            border-width: 1px 0 0 0;
            border-top: 1px solid @color-border;
            padding: 35px 0;
            float: right;
            margin-left: -100%;
            margin-top: 47px;
            width: 100%;
            text-align: left;
        }
    }
}
