// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//
//  Messages
//  ---------------------------------------------

@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle3;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray60;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); //  Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); //  Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//
//  Footer
//  ---------------------------------------------

@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//
//  Layered navigation
//  ---------------------------------------------

@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray52;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }
    
    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        overflow-x: hidden;
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
    }
    .cms-index-index {
        .page-title-wrapper {
            display: none;
        }
    }

    
    .category-title-custom {
        background-color: #F3F3F3;
        background-image: url(../images/theme/bg-title.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 300px;
        display: table;
        width: 100%;
        .box {
            display: table-cell;
            vertical-align: middle;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(60, 60, 60, 0.3);
            z-index: 2;
        }
        .page-title-wrapper {
            text-align: center;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            z-index: 5;
            padding-bottom: 15px;
            margin-bottom: 5px;
            .page-title {
                margin-bottom: 2px;
                font-size: 30px;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -40px;
                background-color: @color-theme;
                width: 80px;
                height: 3px;
            }
        }
        .breadcrumbs {
            background-color: transparent;
            text-align: center;
            position: relative;
            z-index: 5;
            .items {
                color: #fff;
                font-size: 14px;
            }
            .item {
                color: #fff;
                font-size: 14px;
                a {
                    color: #fff;
                    font-size: 14px;
                }
                &:not(:last-child) {
                    &:after {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
            
        }

    }
    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        margin-bottom: 0;
        position: relative;
        .header-top {
            position: relative;
            padding: 29px 0;
        }
        .nav-open & {
            z-index: 999;
        }
    }

    .header.panel {
        text-align: center;
        .minicart-wrapper {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            right: 0;
        }
        .customer-welcome {
            position: absolute;
            top: 50%;
            margin: 0;
            margin-top: -15px;
            right: 77px;
            .customer-menu {
                text-align: left;
            }
        }
        .block-search {
            .block-title {
                position: absolute;
                top: 50%;
                margin-top: -15px;
                right: 122px;
            }
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        display: inline-block;
        img {
            display: block;
            max-width: 100%;
        }
        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }
        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .customer-welcome {
        display: block;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }
        .header.links {
            border-bottom: 1px solid @color-border;
            margin-bottom: 15px;
            padding-bottom: 15px;
            li {
                padding: 0;
                margin: 0;
                display: block;
                padding: 7px 0;
                font-size: 16px;
                color: @color-font-base;
                text-transform: capitalize;
                a {
                    display: block;
                    
                    color: @color-font-base;
                    &:hover {
                        color: @color-theme;
                    }
                }
            }
        }
        .switcher {
            margin-bottom: 10px;
            .switcher-label {
                font-size: 16px;
                font-weight: @font-weight-600;
                display: block;
                margin-bottom: 10px;
            }
            .switcher-options {

            }
            .switcher-text {
                display: none;
            }
            li {
                display: inline-block;
                margin-right: 18px;
                margin-bottom: 10px;
                a {
                    color: @color-font-base;
                    &:hover {
                        color: @color-theme;
                    }
                }
                &.active {
                    border-bottom: 3px solid @color-theme;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .customer-menu {
            position: absolute;
            top: 100%;
            right: 0;
            min-width: 250px;
            max-width: 300px;
            box-sizing: border-box;
            background-color: #fff;
            z-index: 50;
            border: none;
            padding: 10px 30px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            margin-top: 10px;
        }
        .customer-name {
            cursor: pointer;
            line-height: 30px;
            width: 24px;
            text-align: center;
            display: block;
            &:before {
                .icon-font(@icons-user);
                font-size: 18px;
                display: block;
            }
            &:hover {
                color: @color-theme;
            }
            &.active {
                color: @color-theme;
            }
        }
        .customer-menu {
            display: none;
        }
        .action.switch {
            display: none;
        }
        .header.links {
            min-width: 175px;
            .link.compare {
                .counter {
                    display: none;
                }
            }
        }
        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
            .customer-menu {
                display: block;
            }
        }
        .greet {
            display: none;
        }
    }
    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }
        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }
        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;
            .actions {
                margin-top: @indent__s;
            }
        }
        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------
    .footer-top {
        background-color: #fff;
        border-top: 1px solid #ebebeb;
        padding: 20px 0;
        .col-md-6 {
            &:not(:first-child) {
                position: relative;
                &:before {
                    content: "";
                    left: 0;
                    top: 0px;
                    bottom: 0px;
                    width: 1px;
                    background-color: @color-border;
                    position: absolute;
                }
            }
        }
        .block.newsletter {
            & +.social {
                margin-left: 120px;
                text-align: left;
            }
        }
        
    }
    .owl-dt {
        padding: 20px 0;
        .owl-item {
            text-align: center;
            img {

            }
        }
        img {

        }
    }
    .social {
        text-align: center;
        margin-bottom: 10px;
        a {
            font-size: 18px;
            color: @color-font-base;
            margin-right: 14px;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
            &:hover {
                color: @color-theme;
            }
        }
    }
    .footer-columns {
        background-color: #f6f6f6;
        border-top: 1px solid #ebebeb;
        color: @color-font-base;
        font-size: 15px;
        padding-bottom: 90px;
        padding-top: 65px;
        a {
            color: @color-font-base;
            &:hover {
                color: @color-theme;
            }
        }
        .block-columns-footer {
            margin-bottom: 15px;
            .block-title {
                padding-bottom: 12px;
                position: relative;
                margin-bottom: 15px;
                h3 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: block;
                    margin: 10px 0;
                }
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: @color-theme;
                    height: 3px;
                    width: 60px;
                }
            }
            .block-content {
                padding-top: 5px;
            }
        }
        ul.links {
            a {
                text-transform: uppercase;
                display: block;
            }
            li {
                
                display: block;
                margin-bottom: 12px;
            }
        }
        ul.link-contact {
            > li {
                display: table;
                width: 100%;
                margin-bottom: 10px;
                > .fa {
                    display: table-cell;
                    vertical-align: middle;
                    width: 30px;
                }
                > span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        .block-instagram {
            padding-top: 5px;
            .clearfix();
            margin: 0 -5px;
            li {
                width: 33.33%;
                float: left;
                margin-bottom: 10px;
                padding: 0 5px;
                position: relative;
                cursor: pointer;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .footer-bottom {
        padding: 20px 0;
    }
    .copyright {
        display: block;
        text-align: center;
        font-family: @font-family__base2;
    }

    
}

//
//  Navigation
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
     .logo {
        float: left !important;
        margin-left: 50px !important;
     }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: 2px;
    }
    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }
   
    .category-title-custom {
        height: auto;
        padding: 30px 0;
        .page-title-wrapper .page-title {
            font-size: 20px;
        }
    }
    .logo {
        margin-bottom: 0px;
        margin-top: 0px;
        float: none;
        display: inline-block;
        margin-left: 30px;
        width: auto;
        padding-top: 9px;
        img {
            height: 30px;
            width: auto;
        }
    }
    
    .page-header {
        .panel.header {
            text-align: center;
            &:after,
            &:before {
                content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
        }
        .customer-welcome {
            text-align: left;
        }
        .block-search2 {
            margin-top: 0;
            .block-title {
                display: none;
            }
            .control {
                opacity: 0;
                border: none;
                margin: 0;
            }
            .label.active {
                + .control {
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    bottom: -64px;
                    background-color: #fff;
                    z-index: 99;
                    opacity: 1;
                    border: none;
                    margin: 0;
                    border-bottom: 1px solid #ccc;
                    input {
                        margin: 15px 0;
                    }
                }
            }
            .label {
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 50px;
            }
        }
        .nav-toggle {
            /*top: 50%;
            margin-top: -15px;*/
        }
        .minicart-wrapper{
            /*margin-top: -15px;
            position: absolute;
            right: 15px;
            top: 50%;
            z-index: 99;*/
            .block-minicart {
                &:before,
                &:after {
                    content: none;
                }
            }
        }
    }
    .product.media {
        .fotorama__stage__frame {
            text-align: center;
        }
        
        .fotorama__nav.fotorama__nav--dots {
            height: auto !important;
            margin-bottom: 15px;
        }
    }

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;
        .block-title:extend(.abs-block-widget-title all) {
        }
    }
    
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    
   
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
       
    }

    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }
            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }
    .page-header {
        padding: 0 48px;
        .nav-open & {
            position: relative;
            z-index: 810;
            background-color: #fff;
        }
    }
    
    
    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0;
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        border: @tooltip__border-width solid @tooltip__border-color;
        .lib-css(background, @tooltip__background);
        padding: 10px;
    }
}
