<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile


?>
<?php if($crumbs && is_array($crumbs)): ?>
<div class="breadcrumbs">
    <div class="container">
        <ul class="items" >
            <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
                <?php if($_crumbInfo['link']): ?>
                    <li class="item <?php echo $_crumbName ?>" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['title']) ?>" itemprop="url"><span itemprop="title"><?php echo $this->escapeHtml($_crumbInfo['label']) ?></span></a>
                <?php elseif($_crumbInfo['last']): ?>
                    <li class="<?php echo $_crumbName ?>">
                        <span class="last-crumb"><?php echo $this->escapeHtml($_crumbInfo['label']) ?></span>
                <?php else: ?>
                    <li class="<?php echo $_crumbName ?>">
                        <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
                <?php endif; ?>

                <?php if(!$_crumbInfo['last']): ?>
                        <span class="sep"></span>
                <?php endif; ?>
                        
                    </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>