// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: none;
            margin: 0  0 @indent__s;
            .count {
                font-weight: @font-weight__bold;
            }
        }
        .subtotal {
            padding-top: 15px;
            border-top: 1px solid #ebebeb;
            margin: 0 0 20px;
            text-align: right;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 30px;
            &:before,
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .label {
                &:extend(.abs-colon all);
                float: left;
            }
            .amount {
                float: right;
                .price-wrapper .price {
                    font-weight: 500;
                }

            }
        }
        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: 500;
                    }
                }
            }
        }
        .subtitle {
            display: none;
            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }
        .text {
            &.empty {
                text-align: center;
            }
        }
        .block-content {
            > .actions {
                margin-top: 15px;
                font-size: 14px;
                font-family: @font-family__base2;
                font-weight: @font-weight-600;
                > .secondary {
                    text-align: center;
                }
                > .primary {
                    margin: 0 @indent__s 15px;
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            font-size: 11px;
                            display: block;
                            width: 100%;
                            padding: 9px 0px;
                        }
                    }
                }
                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }
        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .block-minicart {
            .lib-css(padding, 13px 20px);
            right: 0;
            max-width: 350px;
            width: 100%;
            min-width: 300px;
            background: #fff none repeat scroll 0 0;
            border: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            display: none;
            list-style: outside none none;
            margin: 10px 0 0;
            position: absolute;
            top: 100%;
            z-index: 100;
            .block-title {
                display: none;
            }
            &:after {
                left: auto;
                right: 25px;
                content: none;
            }
            &:before {
                left: auto;
                right: 26px;
                content: none;
            }
        }
        .product {
            .actions {
                float: right;
                margin: -24px 0 0;
                > .primary,
                > .secondary {
                    display: inline;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
        .action {
            &.close {
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
            }
            &.showcart {
                color: @color-font-base;
                width: 55px;
                text-align: center;
                box-sizing: border-box;
            }
            &.showcart,
            &.showcart.active {
                white-space: nowrap;
                line-height: 1;
                display: block;

                &:before {
                    font-size: 18px;
                    .icon-font(@icons-cart);
                    line-height: 30px;
                }
                &.active {
                    &:before {
                        font-size: 18px;
                    }
                }
                &:hover {
                    color: @color-theme;
                    &:before {
                        color: @color-theme;
                    }
                }
                .text {
                    &:extend(.abs-visually-hidden all);
                }
                .counter.qty {
                    line-height: 1;
                    border-radius: 2px;
                    display: inline-block;
                    margin: 0;
                    min-width: 18px;
                    overflow: hidden;
                    padding: 0 0px;
                    text-align: center;
                    white-space: normal;
                    font-size: 16px;
                    &.empty {
                        display: none;
                    }
                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }
                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
            &.showcart.active {
                color: @color-theme;
                &:before {
                    color: @color-theme;
                }
            }
        }
        .minicart-widgets {
            margin-top: 0px;
        }
    }

    .minicart-items-wrapper {
        
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 13px 20px;
        max-height: 325px;
        overflow-y: auto;
        margin-bottom: 20px;
    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            padding: 0 15px 24px 0;
            position: relative;
            &:not(:first-child) {
                
            }
            &:first-child {
                padding-top: 0;
            }
            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }
        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
        .product-item-pricing {
            .label {
                display: inline-block;
                min-width: 32px;
            }
        }
        .price-minicart {
            margin-bottom: @indent__xs;
        }
        .product-item-name {
            font-weight: 400;
            margin: 0 0 5px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: @font-family__base2;
            a {
                .lib-css(color, @color-font-base);
            }
        }
        .product-item-details {
            padding-left: 90px;
            text-align: left;
            .price {
                font-weight: @font-weight-600;
                font-family: @font-family__base2;
                font-size: 16px;
                color: #ff5353;
            }
            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }
            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }
            .details-qty {
                margin-top: 0;
                color: #999;
                font-size: 12px;
            }
        }
        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }
            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }
            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
            &.pricing {
                margin-top: 3px;
            }
            &.options {
                display: none;
                .tooltip.toggle {
                    .lib-icon-font(
                    @icon-down,
                    @_icon-font-size: 12px,
                    @_icon-font-line-height: 12px,
                    @_icon-font-text-hide: true,
                    @_icon-font-margin: -3px 0 0 7px,
                    @_icon-font-position: after
                    );
                }
                .details {
                    display: none;
                }
            }
        }
        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }
        .item-qty {
            margin-right: @indent__s;
            text-align: left;
            width: 50px;
            border: none;
            box-shadow: none;
            padding: 0;
            color: #999;
            height: 22px;
            &:hover,
            &:focus {
                border: none;
                box-shadow: none;
                padding: 0;
            }
        }
        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }
        .subtitle {
            display: none;
        }
        .action {
            &.edit,
            &.delete {
                color: @color-font-base;
                padding: 0 3px;
                &:before {
                    .icon-font(@icons-edit-cart);
                    font-size: 16px;
                }
                span {
                    display: none;
                }
                &:hover {
                    color: @color-theme;
                }
            }
            &.edit {
                display: none;
            }
            &.delete {
                &:before {
                    .icon-font(@icons-remove-cart);
                    font-size: 16px;
                }
                position: absolute;
                top: 50%;
                margin-top: -10px;
                right: 0;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-minicart {
        .items-total ,
        .action.close{
            display: none;
        }
        .block-content {
             > .actions {
                &:before,
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                > .primary,
                > .secondary {
                    margin: 0 0 10px;
                    display: block;
                    float: right;
                    width: 130px;
                    .action  {
                        .lib-button-primary(
                        );
                        height: 40px;
                        line-height: 38px;
                        padding-top: 0;
                        padding-bottom: 0;
                        width: 100%;
                        padding: 0 !important;
                        text-transform: uppercase;
                        .button-inline();
                    }
                }
                > .secondary {
                    float: left;
                }
             }
        }
    }
    .minicart-wrapper {
        float: right;
        .block-minicart {
            right: 0px;
            width: 320px;
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 18px
        );
    }
}
