// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {

// Product Lists

    .product {
        &-items {
            &:extend(.abs-reset-list all);
            .products-grid & {
                margin: 0 -15px;
                width: auto;
                &:before,
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }
        &-item {
            vertical-align: top;
            .products-grid & {
                float: left;
                padding: 0 15px;
                margin-bottom: 15px;
            }
            .page-products .products-grid & {
                margin-bottom: 22px;
            }
            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                display: block;
                margin: @indent__xs 0;
                word-wrap: break-word;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                font-size: 16px;
                text-transform: uppercase;
                font-family: @font-family__base2;
                color: @color-font-base;
                a {
                    color: @color-font-base;
                }
                &:hover {
                    a {
                        color: @color-theme;
                    }
                }
                .products-list & {
                    font-size: 24px;
                    margin-top: 0;
                    padding-top: 0;
                    line-height: 1;
                    margin-bottom: 9px;

                }
                .products-grid & {
                    margin: 14px 0 2px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &-photo {
                display: block;
                position: relative;
                .products-grid & {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(60, 60, 60, 0.2);
                        z-index: 2;
                        .transition(0.3s);
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            .new-product,
            .sale-product {
                
                span {
                    display: none;
                }
            }
            
            &-info {
                width: 100%;
                max-width: 100%;
                .page-products & {
                    
                }
                .products-grid & {
                    position: relative;
                    width: 100%;
                    max-width: 100%;
                    overflow: hidden;
                    &:hover {
                        .product-item-actions {
                            .actions-secondary {
                                .translate(0px, 0);
                                opacity: 1;
                                .transition(0.3s);
                            }
                        }
                        .product-item-photo {
                            &:before {
                                .transition(0.3s);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            &-header {
                position: relative;
                overflow: hidden;
            }
            &-inner {
                .products-grid & {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 10px;
                    background-color: transparent;
                    opacity: 1;
                    z-index: 10;
                    .transition( 0.3s);
                    &:before,
                    &:after {
                        content: "";
                        display: table;
                    }
                    &:after {
                        clear: both;
                    }
                }
            }
            &-actions {
                
                .actions-secondary {
                    display: none;
                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                    .products-grid & {
                        .translate(-10px, 0);
                        opacity: 0;
                        .transition(0.3s);
                    }
                }
                .actions-primary {
                    .products-grid & {
                        display: block;
                        float: right;
                    }
                }
            }
            &-description {
                margin: 10px 0 33px;
                font-size: 16px;
                font-family: @font-family__base2;
            }
            &-details {
                .products-grid & {
                    text-align: left;
                    .clearfix();
                }
                .products-list & {
                    padding-bottom: 35px;
                }
            }
            div[class^="swatch-opt-"] {
                .products-grid & {
                    text-align: center;
                    clear: both;
                    .swatch-option {
                        display: inline-block;
                        float: none;
                    }
                }
            }
            .product-reviews-summary {
                .rating-summary {
                    margin: 0 0px 0 0;
                    text-align: left;
                    .products-list & {
                        margin-right: 26px;
                    }
                }
                .reviews-actions {
                    margin-top: 0px;
                    text-transform: lowercase;
                    font-size: 16px;
                    color: @color-font-base;
                    .products-grid & {
                        display: none;
                    }
                    .products-list & {
                        text-transform: capitalize;
                        .view {
                            margin-right: 5px;
                            &:after {
                                content: "|";
                                line-height: 16px;
                                padding-left: 5px;
                                vertical-align: baseline;
                                display: inline-block;
                                color: @color-font-base;
                            }
                        }   
                    }
                    a {
                        color: @color-font-base;
                        &:hover {
                            color: @color-theme;
                        }
                    }
                }
                .products-grid & {
                    float: right;
                    width: 82px;
                    text-align: right;
                }
            }

            .price-box {
                margin: @indent__s 0 @indent__m;
                font-family: @font-family__base2;
                text-align: left;
                font-size: 18px;
                font-weight: @font-weight-600;
                color: #ff5353;
                p {
                    margin-bottom: 0;
                }
                .products-grid & {
                    margin: 0px 0 0px;
                    margin-bottom: 2px;
                    float: left;
                    width: calc(~"100% - "82px);
                    width: -moz-calc(~"100% - "82px);
                    width: -webkit-calc(~"100% - "82px);
                    width: -o-calc(~"100% - "82px);
                }
                .products-list & {
                    margin: 0 0 15px;
                    font-size: 24px;
                    .old-price {
                       font-size: 18px; 
                    }
                }
                
                .price-label {
                    display: none;
                }
                .special-price {
                    margin-right: 10px;
                }
                .old-price {
                   font-size: 14px; 
                   color: #9a9a9a;
                }
                .price-from,
                .price-to {
                    display: inline-block;
                }
                .price-from {
                    &:after {
                        content: "-";
                    }
                }
            }

            .old-price {
                margin: @indent__xs 0;
                font-size: 14px;
                .price-label {
                    display: none;
                }
                .products-grid &,
                .products-list & {

                    margin: 0;
                    vertical-align: inherit;
                    .price {
                        color: #9a9a9a;
                        text-decoration: line-through;
                    }
                }
                
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare.action {
                &:before {
                    .icon-font(@icons-compare);
                }
            }
            .towishlist.action {
                &:before {
                   
                }
            }
            .tocompare ,
            .towishlist {
                &.action {
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: none;
                    margin-bottom: 7px;
                    background-color: #ebebeb;
                    font-size: 16px;
                    color: @color-font-base;
                    &:hover,
                    &:focus {
                        background-color: @color-theme;
                        color: #fff;
                    }
                }
                .products-list &{
                    margin-right: 6px;
                }
                .products-grid & {
                    background-color: #fff;
                    display: block;
                    width: 40px;
                    line-height: 40px;
                    float: left;
                    margin: 0 4px 0 0;
                    color: @color-font-base;
                    font-size: 16px;
                    &:hover,
                    &:focus {
                        background-color: @color-theme;
                        color: #fff;
                    }
                }
            }

            .tocart {
                white-space: nowrap;
                border-radius: 0;
                .lib-font-size(14px);
                line-height: 1;
                padding-top: @indent__s;
                padding-bottom: @indent__s;
                height: 40px;
                text-align: center;
                border: 2px solid #3c3c3c;
                margin-bottom: 7px;
                background-color: #fff;
                color: #3c3c3c;
                text-transform: uppercase;
                &:hover {
                    background-color: @color-theme;
                    color: #fff;
                    border: 2px solid @color-theme;
                }
                .products-list & {
                    font-weight: @font-weight-600;
                }
                &.disabled {
                    .products-grid & {
                        &:before {
                            font-family: "FontAwesome";
                            content: "\f110";
                            animation: 1s steps(8) 0s normal none infinite running fa-spin;
                        }
                    }
                }
                .products-grid &{
                    background-color: #3c3c3c;
                    width: auto;
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    display: block;
                    margin: 0;
                    color: #fff;
                    font-size: 16px;
                    &:before {
                        .icon-font(@icons-cart);

                    }
                    span {
                        display: none;
                    }
                   
                    &:hover {
                        background-color: @color-theme;
                        color: #fff;
                    }
                    &:focus {
                        background-color: @color-theme;
                        color: #fff;
                    }
                }
            }
        }
    }

    .products-grid {
        .owl-carousel {
            .product-item {
                .page-layout-2columns-left & ,
                .page-layout-2columns-right & ,
                .page-layout-1column &,
                .page-layout-3columns & {
                    width: 100%;
                }
            }
        }
    }

    .price-container {
        .price {
            
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: 5px;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: "("attr(data-label) ": ";
            }
            &:after {
                content: ")";
            }
            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ": ";
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }
                &-photo {
                    width: 1%;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    display: table-cell;
                }
                &-details {
                    vertical-align: top;
                    display: table-cell;
                }
            }
        }
        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

}
//
//    Product label
//--------------------------------------
& when (@media-common = true) {
    .product-item-label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
        text-align: center;
    }
    .new-product,
    .sale-product{
        display: block;
        text-decoration: none;
        display: none;
        max-width: 17%;
        .products .product-item &,
        .product.media &{
            display: block;
        }
        .product-items & {
            display: block;
        }
        img {
            max-width: 100%;
            display: block;
        }
        &.top-right {
            float: right;
            margin-right: 10px;
        }
        &.top-left {
            float: left;
            margin-left: 10px;
        }
    }
    .product-image-container {
        position: relative;
    }
    .product.media {
        position: relative;
    }
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
   
    .product {
        &-item {
            .products-grid & {
                margin-bottom: 15px;
                div[class^="swatch-opt-"] {
                    display: none;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
            
            
        }

    }
    .products-grid {
        .product-item {
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & {
                &:nth-child(3n+1) {
                    clear: none;
                }
            }
            .page-layout-3columns & {
                &:nth-child(2n+1) {
                    clear: none;
                }
            }
            .page-layout-1column &,
            .page-layout-2columns-left &,
            .page-layout-2columns-right &,
            .page-layout-3columns & {
                width: 100%/2 ;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
       
    }
    
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {


    .product-item-actions {
        display: block;
        .products-grid & {
            margin: 0;
        }
        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 8px;
            
            > .action {
                
                
            }
        }
        .actions-secondary {
            .products-grid & {
                display: block;
                padding-left: 0;
                float: right;
                &:after,
                &:before {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
            }
        }
        .actions-primary { 
            display: table-cell; 
            vertical-align: top;
            .products-grid & {
                display: block;
                float: right;
                .stock {
                    background-color: @color-theme;
                    line-height: 40px;
                    padding: 0 10px;
                    color: #fff;
                }
            }
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            .page-layout-1column & {
                width: 100%/3 ;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & {
                width: 100%/3 ;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            .page-layout-3columns & {
                width: 100%/2;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
        
    }
}

//
//
//    Desktop
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
   
    .products-grid {
        .product-item {
            .page-layout-1column & {
                width: 100%/4 ;
                &:nth-child(4n+1) {
                    clear: both;
                }
                &:nth-child(3n+1) {
                    clear: none;
                }
            }
            .page-layout-2columns-left & ,
            .page-layout-2columns-right & {
                width: 100%/3 ;
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            .page-layout-3columns & {
                width: 100%/2;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
        
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    

}
