// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

& when (@media-common = true) {

//
//    Newsletter subscription
//--------------------------------------

    .block.newsletter {
        margin-top: 50px;
        margin-bottom: 10px;
        > .title {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;  
            margin-right: 25px;
        }
        > .content {
            display: inline-block;
            vertical-align: middle;
            max-width: 310px;
            width: 100%;
        }
        .form.subscribe {
            position: relative;
            .label {
                display: none;
            }
        }
        .control {
            input {
                width: 100%;
                height: 40px;
                border: 1px solid @color-border;
                padding: 3px 40px 3px 15px;
                font-size: 13px;
                .placeholder(#9a9a9a);
            }
        }
        .action.subscribe {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
            height: 40px;
            width: 40px;
            text-align: center;
            border: none;
            background-color: #3c3c3c;
            color: #fff;
            padding: 0;
            span {
                display: none;
            }
            &:before {
                .icon-font(@icons-subscribe);
            }
            &:hover {
                background-color: @color-theme;
                .transition(0.3s);
            }
        }
    }

}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        
    }
}
