<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Language switcher template
 */
?>

<?php if (count($block->getStores())>0): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?php /* @escapeNotVerified */ echo $id?>">
    <strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Language') ?></span></strong>
    
    <ul class="switcher-options">
        <?php foreach ($block->getStores() as $_lang): ?>
            <?php if ($_lang->getId() == $block->getCurrentStoreId()): ?>
                 <li class="active view-<?php echo $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                    <strong title="<?php echo $block->escapeHtml($block->getStoreName()) ?>">
                        <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.gif') ?>">
                        <span class="switcher-text"><?php echo $block->escapeHtml($block->getStoreName()) ?></span>
                    </strong>
                </li>
            <?php endif; ?>
            <?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
                <li class="view-<?php echo $block->escapeHtml($_lang->getCode()); ?> switcher-option">
                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getTargetStorePostData($_lang); ?>' title="<?php echo $block->escapeHtml($_lang->getName()) ?>">
                        <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.gif') ?>">
                        <span class="switcher-text"><?php echo $block->escapeHtml($_lang->getName()) ?></span>
                    </a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
   
</div>
<?php endif; ?>
