// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;

//
//    Common
//--------------------------------------

& when (@media-common = true) {
    .catalog-product-view {
        .page-main.container {
            .page-layout-1column& {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                max-width: 100%;
            }
        }
        &:not(.page-layout-1column) {
            .page-main.container {
                .container {
                    padding-left: 0;
                    padding-right: 0;
                } 
                .product.info.detailed {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        } 
    }
    .catalog-product-view {

    }
    .page-products {
        .page-title-wrapper {
            display: block;
            font-family: @font-family__base2;
            font-weight: @font-weight-600;
            text-transform: uppercase;
            color: @color-font-base;
        }
        
    }
    //
    //    Category view
    //--------------------------------------
    .action-number {
        .btn-number {
            line-height: 38px;
            width: 33px;
            display: block;
            font-size: 16px;
            color: @color-font-base;
            text-align: center;
            position: absolute;
            top: 1px;
            cursor: pointer;
            font-weight: 500;
            &:before {
                font-family: "FontAwesome";
            }
            &:hover {
                color: @color-theme;
            }
            &[disabled] {
                
            }
        }
        .btn-minus {
            left: 1px;
            &:before {
                content: "\f104";
            }
        }
        .btn-plus {
            right: 1px;
            &:before {
                content: "\f105";
            }
        }
    }

    .product-info-main {
        .page-title-wrapper {
            display: block;
            font-family: @font-family__base2;
            font-weight: 400;
            text-transform: uppercase;
            color: @color-font-base;
            .page-title {
                font-weight: 400;
                font-size: 26px;
            }
        }
        .box-tocart {
            .control {
                position: relative;
                overflow: hidden;
                input {

                }
            }
        }
    }

    .hideshare-wrap  {
        position: relative;
        height: auto !important;
        width: auto !important;
        border-top: 1px solid @color-border;
        padding-top: 10px;
        margin-top: 15px;
        .hideshare-list {
            position: static;
            display: inline-block !important;
            margin: 0;
            padding: 0;
        }
        span {
            display: none;
        }
        .share {
            display: inline-block;
            margin-right: 12px;
            font-weight: @font-weight-600;
            text-transform: uppercase;
            font-family: @font-family__base2;
            font-size: 18px;
        }
        li {
            list-style: none;
            display: inline-block;
            font-size: 20px;
            margin-right: 20px;
            &:hover {
                color: @color-theme;
            }
            a {
                &:hover {
                    color: @color-theme;
                }
            }
        }
    }

    .old-price,
    .old.price {
        .lib-css(color, @text__color__muted);
        display: inline-block;
        .price-label {
            display: none;
        }
        .price {
            text-decoration: line-through;
        }
    }

    .price-tier_price {
        .price-including-tax + .price-excluding-tax {
            &:before {
                content: "(" attr(data-label) ":";
            }
            &:last-child:after {
                content: ")";
            }
        }

        .weee[data-label] {
            display: inline;
            &:before {
                content: " +" attr(data-label) ":";
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }


    .special-price {
        display: inline-block;
        margin-right: 0;
        .price-label {
            display: none;
        }
    }
    .old-price {
        margin-left: 2px;
        vertical-align: top;
    }
    .price-from,
        .price-to {
            display: inline-block;
        }
        .price-from {
            &:after {
                content: "-";
            }
        }
    .category {
        &-image {
            .image {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
        &-cms,
        &-image,
        &-description {
            margin-bottom: @indent__base;
        }
    }


    .swatch-opt {
        margin: 5px 0 !important;
        > .swatch-attribute {
            width: 270px;
            display: inline-block;
            vertical-align: top;
        }
        .swatch-attribute-label {
            font-size: 18px;
            font-family: @font-family__base2;
            text-transform: uppercase;
            font-weight: @font-weight-600;
        }
        .swatch-attribute-options {
            margin-top: 8px;
            .swatch-option {
                border: 4px solid #fff;
                outline: 1px solid #e9e9e9;
                height: 30px;
                margin: 0 12px 12px 0;
                padding: 0;
                &:hover {
                    outline: 1px solid #111111;
                    border: 4px solid #fff;
                }
                &.text {
                    line-height: 30px;
                    height: auto;
                    background-color: #fff;
                }
                &.image,
                &.color,
                &.text {
                    min-width: 30px;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover,
                    &.selected {
                        outline: 1px solid #111111;
                        border: 4px solid #fff;
                    }
                }
            }
        }
    }
    .swatch-attribute {
        .swatch-attribute-options {
            margin-top: 8px;
            .swatch-option {
                border: 4px solid #fff;
                outline: 1px solid #e9e9e9;
                height: 30px;
                margin: 0 12px 12px 0;
                padding: 0;
                .product-item & {
                    height: 15px;
                }
                &:hover {
                    outline: 1px solid #111111;
                    border: 4px solid #fff;
                }
                &.text {
                    line-height: 30px;
                    height: auto;
                    background-color: #fff;
                    .product-item & {
                        line-height: 15px;
                    }
                }
                &.image,
                &.color,
                &.text {
                    min-width: 30px;
                    font-size: 14px;
                    font-weight: 400;
                    .product-item & {
                        min-width: 20px;
                        font-size: 12px;
                    }
                    &:hover,
                    &.selected {
                        outline: 1px solid #111111;
                        border: 4px solid #fff;
                    }
                }
            }
        }
    }
    //
    //    Product images general container
    //--------------------------------------
    .product-image {
        &-container {
            display: block;
            max-width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        &-wrapper {
            
        }
        &-photo {
            display: block;
            width: 100%;
        }
    }

    //
    //    Product view
    //--------------------------------------
    .product.media {
       
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }
        .placeholder .photo.container {
            max-width: 100%;
        }
        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }
        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }
        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }
            img {
                display: block;
            }
            .active {
                display: block;
                line-height: 1;
            }
        }
        
        /*.fotorama__nav__frame {
            padding: 0;
            margin-right: 23px;
            border: 2px solid #fff;
            box-sizing: border-box;
            &.fotorama__active {
                border: 2px solid #ff0000;
                box-sizing: border-box;
            }
        }*/
        
        .fotorama__thumb-border {
            border: 1px solid @color-theme;
        }
        .fotorama__thumb__arr--left,
        .fotorama__thumb__arr--right {
            background-color: rgba(255, 255, 255, 0.8);
            .fotorama__thumb__arr {/*
                background-color: #111111;*/
                background-image: none;
                text-align: center;
                color: @color-font-base;
                line-height: 30px;
                padding: 0;
                box-sizing: border-box;
                width: 30px;
                height: 30px;
                &:before {
                    content: "\f104";
                    font-family: 'FontAwesome'; 
                    font-size: 28px;
                }
                &:hover {
                    color: @color-theme;
                }
            }
            &.fotorama__arr--disabled {
                opacity: 0;
            }
        }
        .fotorama__thumb__arr--right {
            .fotorama__thumb__arr {
                &:before {
                    content: "\f105";
                }
            }
        }
        
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;
        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .product-info-price {
            display: block;
            width: 100%;
            .lib-css(color, @product-info-price);
            margin-bottom: @indent__s + @indent__xs;
            .price-box {
                display:block;
                vertical-align: top;
                .price-label {
                    display: none;
                }
                .price-final_price > span {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }
            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }
            .old-price {
                .price-wrapper .price {
                    font-size: 16px;
                    font-weight: 400;
                    color: #999;
                }
                .price-container ,
                .price-label {
                    .price-label {
                        display: none;
                    }
                }
            }
            .special-price {
                .price-label {
                    &:after {
                        content: ": ";
                    }
                }
            }
        }
        .product-reviews-summary {
            margin-bottom: 15px;
        }
        .product-info-stock-sku {
            min-width: 15rem;
            text-align: left;
            display: block;
            vertical-align: top;
           
            padding-bottom: 0;
        }
        .stock {
            margin: 0 0 15px;
            &.available,
            &.unavailable {
                font-weight: @font-weight-600;
                text-transform: capitalize;
                font-size: 16px;
                font-family: @font-family__base2;
            }
            &.available {
                &:before {
                    .icon-font(@icons-check);
                    font-weight: 400;
                    color: #00c044;
                    margin-right: 8px;
                }
            }
        }
        .product.attibute.sku {
            word-wrap: break-word;
        }
        .product {
            &-add-form {
                clear: both;
                border-top: 1px solid @color-border;
                border-bottom: 1px solid @color-border;
                padding-top: 20px;
                margin-top: 25px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                .field {
                    label {
                        font-weight: 400;
                    }
                }
            }

            &.attibute {
                &.sku {
                    font-size: 16px;
                    text-transform: uppercase;
                    .type {
                        font-weight: @font-weight-600;
                        color: @color-font-base;
                        margin-right: 5px;
                        &:after {
                            content: ":";
                        }
                    }
                    .value {
                        display: inline-block;
                    }
                }
                &.overview {
                    margin: 10px 0 10px;
                    font-size: 16px;
                    font-family: @font-family__base2;
                    line-height: 24px;
                }
            }
            &.alert {
                margin: @indent__s 0;
            }
        }
        .product-reviews-summary {
            float: none;
            .action {
                &:hover {
                    color: #999;
                }
            }
        }
        .action.mailto.friend {
            display: none;
        }
       
        .box-tocart {
            .fieldset {
                .clearfix();
            }
            .field {
                &.qty {
                    display: inline-block;
                    vertical-align: bottom;
                    padding-right: 8px;
                    margin-bottom: 10px;
                    width: 100px;
                    float: none;
                    .label {
                        display: block;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-family: @font-family__base2;;
                        font-weight: @font-weight-600;
                    }
                    .control {
                        display: block;
                        vertical-align: middle;
                        position: relative;
                    }
                    input {
                        height: 40px;
                        width: 100%;
                        border: 1px solid @color-border;
                        text-align: center;
                        padding-left: 30px;
                        padding-right: 30px;
                        font-style: italic;
                        font-family: @font-family__base2;
                        .placeholder(@color-font-base);
                    }
                }
            }
            .actions {
                display: inline-block;
                vertical-align: bottom;
                margin-bottom: 10px;
                .product-addto-links {
                    display: inline-block;
                }
            }
            .action {
                &.mailto.friend {
                    display: none;
                }
                &.tocart,
                &.towishlist,
                &.tocompare {
                    line-height: 40px;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    background-color: #ebebeb;
                    display: inline-block;
                    color: @color-font-base;
                    border-color: #ebebeb;
                    vertical-align: top;
                    margin-right: 4px;
                    &:hover,
                    &:focus {
                        background-color: @color-theme;
                        border-color: @color-theme;
                        color: #fff;
                    }
                }
                
                &.tocart {
                    width: auto;
                    padding: 0 22px;
                    text-transform: uppercase;
                }
                
                &.towishlist,
                &.tocompare {
                    span {
                        display: none;
                    }
                }
                &.towishlist {
                    &:before {
                        .icon-font(@icons-wishlist);
                    }
                }
                &.tocompare {
                    &:before {
                      .icon-font(@icons-compare);
                    }
                }
            }
        }
        
        .product-options-wrapper {
            >.fieldset {
                
            }
            .field.configurable {
                margin-bottom: 30px;  
                display: inline-block;
                margin-right: 38px;
                vertical-align: top;
                &:last-child {
                    margin-right: 0;
                }
                > label {
                   font-family: @font-family__base2;
                   font-weight: @font-weight-600;
                   text-transform: uppercase;
                   font-size: 18px;

                }
                > label,
                > .control {
                    display: block;
                } 
                > .control {
                    position: relative;
                    &:after {
                        font-family: "FontAwesome";
                        content: "\f107";
                        display: block;
                        width: 40px;
                        line-height: 38px;
                        text-align: center;
                        height: 40px;
                        background-color: @color-theme;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 5;
                        color: #fff;
                        font-size: 16px;
                    }
                }
                select  {
                    height: 40px;
                    font-size: 15px;
                    font-family: @font-family__base2;
                    font-style: italic;
                    width: 180px;
                    padding-left: 8px;
                    padding-right: 40px;
                    background-image: none;
                }            
            }
        }
        
    }

    

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, #ff5353);
        display: table-cell;
        vertical-align: top;
        padding-bottom: @indent__s;
        font-family: @font-family__base2;
        .old-price {
            font-size: 16px;
            .price-container > span {
                display: inline-block;
            }
        }
        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .price {
                font-size: 28px;
                line-height: 22px;
                font-weight: @font-weight-600;
            }
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;
                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }


    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid @color-border;
        .item {
            margin-bottom: @indent__s;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .price-wrapper {
            font-weight: @font-weight-600;
            font-family: @font-family__base2;
        }
        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }
    .price-final_price {
        .price-final_price {
            margin-right: 5px;
        }
    }
    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        white-space: nowrap;
        display: inline-block;
        color: #ff5353;
        .price-box  & {
            color: #ff5353;
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }


    //
    //    Sidebar product view
    //--------------------------------------
    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
                &-info {
                    position: relative;
                    width: auto;
                    .product-item-photo {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &-name {
                    margin-top: 0;
                }
                &-details {
                    margin: 0 0 0 85px;
                }
                &-actions {
                    display: block;
                    margin-top: @indent__s;
                }
            }
            .price-box {
                display: block;
                margin: 7px 0;
            }
            .text {
                margin-right: 8px;
            }
            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }
            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }
                .weee:before {
                    display: inline-block;
                }
            }
            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //    Product images only
        //--------------------------------------
        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;
            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //    Product names only
        //--------------------------------------
        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }
            .product-item-name {
                margin: 0;
            }
        }
    }

    .block-compare,
    .block-reorder,
    .block-wishlist,
    .widget {
        margin-bottom: 45px;
        .block-title {
            strong {
                display: block;
                font-size: 20px;
                font-weight: 700;
                border: none;
                padding: 0 0 10px;
                margin-bottom: 20px;
                text-transform: uppercase;
                position: relative;
                &:before {
                    content: "";
                    width: 60px;
                    height: 3px;
                    background-color: @color-theme;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }


}

//
//    Mobile @screen__m
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }
        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
}

//
//    Mobile @screen__s
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }
    .product-info-price {
        margin: 0;
       /* width: ~"calc(100% + 2*@{indent__s})"!important;*/
        > *:first-child {
            padding-left: 0;
        }
        > *:last-child {
            padding-right: 0;
        }
    }
    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
    .box-tocart {
        .field {
            &.qty {
                float: none;
            }
        }
    }

}
//
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    .fotorama__stage {
        
        left: 140px !important;
        width: calc(~"100% - "140px) !important;
        width: -moz-calc(~"100% - "140px) !important;
        width: -webkit-calc(~"100% - "140px) !important;
        width: -o-calc(~"100% - "140px) !important;
        .fotorama__stage__shaft {
            width: 100% !important;
            max-width: 100% !important;

        }
    }
    .product-info-main,
    .product.media {
        margin-bottom: 15px;
    }
}
//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                margin-bottom: 12px;
                text-transform: uppercase;
                font-size: 26px;
            }
        }
    }

    

    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                display: block;
            }
            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //    Category page layout
    //--------------------------------------
    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
    }

    .page-layout-1column {
        .product-info-main {
            width: 50%;
            padding-left: 15px;
            box-sizing: border-box;
        }
        .product.media {
            width: 50%;
            padding-right: 15px;
            box-sizing: border-box;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 50%;
            padding-left: 15px;
            box-sizing: border-box;
        }
        .product.media {
            width: 50%;
            padding-right: 15px;
            box-sizing: border-box;
        }
    }

    

    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        position: relative;
                        left: auto;
                        top: auto;
                        float: left;
                        margin: 0 @indent__s @indent__s 0;
                    }
                }
                &-details {
                    margin: 0;
                }
                &-actions {
                    clear: left;
                }
            }
        }
    }
    
}

//
//    Desktop large
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    .catalog-product-view {
        .page-main {
            padding-top: 35px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: none;
                        margin: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &-details {
                    margin-left: 85px;
                }
            }
        }
    }
    .product.info.detailed {
        border: none;
        
    }
}


//
//    Common
//--------------------------------------

& when (@media-common = true) {

//
//    Compare Products Page
//--------------------------------------
body.catalog-product-compare-index {
    .action.print {
        float: right;
        margin: 15px 0;
    }
}

.table-wrapper.comparison {
    clear: both;
    max-width: 100%;
    overflow-x: auto;
    .table-comparison > tbody > tr{
        > th,
        > td {
            border-top: 0;
        }
    }
}

.table-comparison {
    table-layout: fixed;

    .cell.label.remove,
    .cell.label.product {
        span {
            &:extend(.abs-visually-hidden all);
        }
    }

    .cell.label,
    td:last-child {
        border-right: @table__border-width @table__border-style @table__border-color;
    }

    .cell {
        width: 180px;
        padding: 15px;
        .attibute.value {
            width: 100%;
            overflow: hidden;
        }

        &.product.info,
        &.product.label {
            border-bottom: @table__border-width @table__border-style @table__border-color;
        }
        &.label {
            .attribute.label {
                display: block;
                width: 100%;
                word-wrap: break-word;
            }
        }
        &.attribute {
            .lib-font-size(13);
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &.remove {
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }
    }

    .product-item-photo {
        display: block;
        margin: 0 auto 15px;
    }
    .product-image-photo {
        margin-left: 0;
    }

    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name {
        display: block;
        margin: 15px 0;
    }

    .product-addto-links {
        margin-top: 15px;

        .action.split,
        .action.toggle {
            .lib-button-s();
        }

        .action.toggle {
            padding: 0;
        }
        .action  {
            &:hover {
                color: #999;
            }
        }
    }

    .action {
        &.tocart {
            white-space: nowrap;
        }
    }
}

.comparison.headings {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: auto;
    .lib-css(background, @color-white);
}

.block-compare {
    .block-title {
        &:extend(.abs-block-widget-title all);
    }
    .product-item .product-item-name {
        margin-left: 22px;
    }
    .action.delete {
        &:extend(.abs-remove-button-for-blocks all);
        position: absolute;
        left: 0;
        top: 0;
    }
    .counter {
        &:extend(.abs-block-items-counter all);
    }
    .actions-toolbar {
        margin: 17px 0 0;
    }

    .action.primary {
        &:extend(.abs-revert-to-action-secondary all);
    }
}

}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr{
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*="block-compare"] {
        display: none;
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();
        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }
        .counter.qty {
            .lib-css(color, @primary__color__lighter);
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
}

//
//    Common
//--------------------------------------

& when (@media-common = true) {

.block.related {
    .action.select {
        &:extend(.abs-action-button-as-link all);
        vertical-align: top;
    }
    .block-actions {
        margin-bottom: 15px;
    }
    .product-item-details {
        position: relative;
        z-index: 1;
    }
    .related-available .product-item-name {
        margin-left: 25px;
    }
    .field.choice {
        position: absolute;
        top: 15px;
        left: 0;
        .label {
            &:extend(.abs-visually-hidden all);
        }
    }
}

}

//
//    Desktop large
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
