// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@autocomplete-background: @color-white;
@autocomplete-border: 1px solid @form-element-input__border-color;
@autocomplete-item-border: 1px solid @color-gray90;
@autocomplete-item-hover: @color-gray91;
@autocomplete-item-amount-color: @color-gray60;

//
//    Common
//--------------------------------------

& when (@media-common = true) {


    .block-search {
        display: block;
        
        .block.block-content {
            margin: 0;
        }
        .nested ,
        .actions{
            display: none;
        }
        
        .block-title {
            width: 25px;
            line-height: 30px;
            display: block;
            text-align: center;
            background-color: #fff;
            z-index: 5;
            margin: 0;
            cursor: pointer;
            &:before {
                .icon-font(@icons-search);
                font-size: 18px;
                display: block;
            }
            &.active {
                &:before {
                    font-family: 'FontAwesome';
                    content: "\f00d";
                    font-size: 20px;
                    display: block;
                    color: @color-theme;
                }
            }
            strong {
                display: none;
            }
            &:hover {
                color: @color-theme;
            }
        }
        input {
            background-color: #f6f6f6;
            height: 80px;
            border: none;
            padding: 10px;
            box-sizing: border-box;
            padding-left: 75px;
            font-size: 24px;
            text-transform: uppercase;
            .placeholder(#9a9a9a);
            &:hover,
            &:focus {
                border: none !important;
                box-shadow: none !important;
            }
        }
        .dropdown {
            position: absolute;
            left: -48px;
            right: -48px;
            top: 100%;
            background-color: #f6f6f6;
            z-index: 50;
        }
        .form.minisearch {
            position: relative;
            margin: 0 48px;
        }
        .action.search {
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            width: 36px;
            background-color: transparent;
            z-index: 10;
            padding: 0;
            text-align: center;
            border: none;
            color: @color-font-base;
            span {
                display: none;
            }
            &:before {
                .icon-font(@icons-search);
                font-size: 28px;
            }
        }
        
    }

.search-autocomplete {
    display: none;
    position: absolute;
    z-index: 3;
    overflow: hidden;
    margin-top: -15px;
    &:extend(.abs-add-box-sizing all);
    ul {
        .lib-list-reset-styles();
        &:not(:empty) {
            .lib-css(background, @autocomplete-background);
            .lib-css(border, @autocomplete-border);
            border-top: 0;
        }
        li {
            .lib-css(border-top, @autocomplete-item-border);
            cursor: pointer;
            padding: @indent__xs @indent__xl @indent__xs @indent__s;
            margin: 0;
            position: relative;
            text-align: left;
            white-space: normal;
            &:first-child {
                border-top: none;
            }
            &:hover,
            &.selected {
                .lib-css(background, @autocomplete-item-hover);
            }
            .amount {
                .lib-css(color, @autocomplete-item-amount-color);
                position: absolute;
                right: 7px;
                top: @indent__xs;
            }
        }
    }
}

.form.search.advanced {
    &:extend(.abs-forms-general-desktop all);
    .fields.range {
        .field {
            &:first-child {
                position: relative;
                .control {
                    padding-right: 25px;
                    &:after {
                        content: ' \2013 ';
                        display: inline-block;
                        text-align: center;
                        width: 25px;
                        position: absolute;
                        right: 0;
                        top: 6px;
                    }
                }
            }
            &:last-child {
                position: relative;
                div.mage-error[generated] {
                    position: absolute;
                    top: 32px;
                    left: 0;
                }
            }
            &.with-addon {
                .control {
                    padding-right: 45px;
                }
            }
            &.date {
                &:extend(.abs-field-date all);
            }
        }
    }
    .group.price {
        .addon {
            .addafter {
                background: none;
                border: 0;
                padding-top: 6px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

.search-terms {
   &:extend(.abs-reset-list all);
   line-height: 2em;
   > li {
        display: inline-block;
        margin-right: @indent__s;
   }
}
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

        .search-autocomplete {
        margin-top: 0;
    }

}
